body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background: #003366;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
  }
  
  header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    text-align: center;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f9f9f9;
  }
  
  .signup-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    background-color: #003366;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
  }
  
  .login-link {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .login-link a {
    color: #003366;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  footer {
    text-align: center;
  }